// Author: Jonathan Mah
// Date: 20190702
// Purpose: Run a single simulation which contains two mutation types, one of
//   which is deleterious.

// Set up a simple neutral simulation.
initialize()
{
  // Set the overall mutation rate
  initializeMutationRate(1e-7);

  // m1 mutation type: neutral.
  initializeMutationType('m1', 0.5, 'f', 0.0);

  // m2 mutation type: deleterious.
  initializeMutationType('m2', 0.5, 'f', -0.1);

  // g1 genomic element type: uses m2 for all mutations
  initializeGenomicElementType('g1', c(m1, m2), c(1, 1));

  // Uniform chromosome of length 100 kb.
  initializeGenomicElement(g1, 0, 99999);

  // Uniform recombination along the chromosome.
  initializeRecombinationRate(1e-8);
  setSeed(1);
}

// create 10 populations, each of 100 individuals
1
{
  sim.addSubpop('p1', 100);
}

// run to generation 10000
10000
{
  p1.outputVCFSample(100, filePath = '../Data/pilot_two_type_sim/output_0.vcf');
  sim.simulationFinished();
  print('Simulation has ended.');
}
